In [1]:
import pandas as pd

In [3]:

pd.read_parquet("./20240109-162104-size.parquet.gzip")

,shop_product_card_id,shop_product_size,kor_product_size,available,updated_at,product_id
0,1204,XS - EU 44 - JPN 1,XS,True,2024-01-09 16:22:32,22980-NESM
1,1204,Medium - EU 48 - JPN 3,M,True,2024-01-09 16:22:32,22980-NESM
2,1204,Large - EU 50 - JPN 4,L,True,2024-01-09 16:22:32,22980-NESM
3,116,UK 9,275,True,2024-01-09 16:22:32,BD7633
4,116,UK 9.5,280,True,2024-01-09 16:22:32,BD7633
...,...,...,...,...,...,...
313,4649,XL,XL,True,2024-01-09 16:22:32,DV9217-301
314,4650,S,S,True,2024-01-09 16:22:32,DB0978-247
315,4650,M,M,True,2024-01-09 16:22:32,DB0978-247
316,4650,L,L,True,2024-01-09 16:22:32,DB0978-247
317,4650,XL,XL,True,2024-01-09 16:22:32,DB0978-247