In [2]:
import pandas as pd

pd.read_parquet("./20240107-195355-buy_and_sell.parquet.gzip")

     kream_id kream_product_size     buy    sell          updated_at
0       82075                  S       0  650000 2024-01-07 19:59:25
1       82075                  L  300000       0 2024-01-07 19:59:25
2       84964                 XS       0  435000 2024-01-07 19:59:25
3       84964                  S  160000       0 2024-01-07 19:59:25
4       84964                  M  320000  409000 2024-01-07 19:59:25
..        ...                ...     ...     ...                 ...
477     90454                  M  205000  243000 2024-01-07 19:59:25
478     90454                  L  250000  289000 2024-01-07 19:59:25
479     90454                 XL  267000  284000 2024-01-07 19:59:25
480     90454                XXL  250000  311000 2024-01-07 19:59:25
481     90454               XXXL  260000  319000 2024-01-07 19:59:25

[482 rows x 5 columns]

In [3]:
pd.read_parquet("./20240107-195355-product_bridge.parquet.gzip")

     product_id  kream_id
0      NJ1DN80L     82075
1      NJ1DN50K     84964
2      NJ1DN82B     84409
3      NJ1DN82A     82702
4      NV3NP55A    187477
..          ...       ...
95  NF0A7WX4128     65385
96  NF0A3C8DLE4     48726
97  NF0A7WX4JK3     65384
98  NF0A3C8D6S2     93545
99  NF0A3JQQLE4     90454

[100 rows x 2 columns]

In [4]:
pd.read_parquet("./20240107-195355-product_detail.parquet.gzip")

,kream_id,kream_product_img_url,kream_product_name,brand_name,retail_price,product_release_date,color,wish,review,updated_at
0,82075,https://kream-phinf.pstatic.net/MjAyMzAxMTZfNj...,(w) the north face white label novelty nuptse...,the north face,298000,2001-01-01,cocoa/brown,7131,56,2024-01-07 19:54:05
1,84964,https://kream-phinf.pstatic.net/MjAyMjExMTBfMj...,the north face white label novelty nuptse dow...,the north face,348000,2001-01-01,light khaki,2505,34,2024-01-07 19:54:05
2,84409,https://kream-phinf.pstatic.net/MjAyMjExMDhfMT...,(w) the north face nuptse hybrid down ball ja...,the north face,249000,2001-01-01,ivory,4177,11,2024-01-07 19:54:05
3,82702,https://kream-phinf.pstatic.net/MjAyMjExMDNfMj...,(w) the north face nuptse hybrid down ball ja...,the north face,249000,2001-01-01,black,3242,21,2024-01-07 19:54:05
4,187477,https://kream-phinf.pstatic.net/MjAyMzEwMTZfMT...,the north face nuptse on ball vest black,the north face,189000,2001-01-01,black,1880,9,2024-01-07 19:54:05
...,...,...,...,...,...,...,...,...,...,...
95,65385,https://kream-phinf.pstatic.net/MjAyMjA2MTRfMT...,supreme x the north face trekking convertible...,supreme,391700,2022-06-09,stone,3288,152,2024-01-07 19:58:28
96,48726,https://kream-phinf.pstatic.net/MjAyMjExMDNfMj...,the north face 1996 retro nuptse down jacket ...,the north face,368100,2001-01-01,black,4238,121,2024-01-07 19:58:26
97,65384,https://kream-phinf.pstatic.net/MjAyMjExMDRfMT...,supreme x the north face trekking convertible...,supreme,391700,2022-06-09,black,7938,362,2024-01-07 19:58:40
98,93545,https://kream-phinf.pstatic.net/MjAyMzAxMDVfMT...,the north face 1996 retro nuptse jacket dark ...,the north face,420700,2001-01-01,dark oak,7786,132,2024-01-07 19:58:53
99,90454,https://kream-phinf.pstatic.net/MjAyMjEyMTZfMT...,the north face 1996 retro nuptse vest black,the north face,344200,2001-01-01,black,7287,64,2024-01-07 19:59:08